#hero {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 60px;
		right: -26px;
		background-color: var(--soft-blue);
		width: 292px;
		height: 204px;
		border-radius: 0px 0px 0px 64px;
	}

	.hero-image {
		margin-bottom: 6rem;
		margin-left: -1.5rem;
		max-width: 36rem;
	}

	.hero-content {
		text-align: center;

		h1 {
			font-size: clamp(3rem, 2rem + 2vw, 5rem);
			font-weight: var(--fw-semi-bold);
		}

		.hero-buttons-wrapper {
			display: flex;
			justify-content: space-between;
		}
	}
}

@media (width > 376px) {
	#hero {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;

		.hero-content {
			text-align: left;
			max-width: 42ch;

			.hero-buttons-wrapper {
				display: flex;
				justify-content: unset;
				gap: 2rem;
			}
		}

		.hero-image {
			margin-bottom: unset;
			margin-right: -10rem;
			max-width: 65rem;
		}

		&::before {
			top: 150px;
			right: -145px;
			width: 490px;
			height: 340px;
			border-radius: 0px 0px 0px 132px;
		}
	}
}
